apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatbot-interface
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chatbot-interface
  template:
    spec:
      serviceAccountName: focusing-manager-serviceaccount
      containers:
      - name: chatbot-interface
        image: ghcr.io/gravitate-health/chatbot-interface:latest
        env:
        - name: FHIR_EPI_URL
          value: "http://fhir-server-epi:8080/api/fhir"
        - name: ENVIRONMENT
          value: dev
        resources: {}